@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap'); /* Google Fonts @import */

* { /* Reset our CSS */
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;    
}

body {

    font: 400 14px Roboto, sans-serif; /* if Roboto is not working, use sans-serif */
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /* Smoothing font from body */
}

input, button, textarea { /* By default in input, button, and textareas use the config. below */

    font: 400 18px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

}

button { /* Exhibits pointer on buttons */

    cursor: pointer;
}

form input { /* Todo input de formul치rios seguir치 essa linha */

    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;

}

form textarea { /* Todo input de formul치rios seguir치 essa linha */

    width: 100%;
    resize: vertical;
    min-height: 140px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;

}

.button {

    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s; /* efeito de mudar de cor com o hover abaixo */
}

.button:hover{

    filter: brightness(90%);

}

.back-link{

    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s; /* deixar um pouco opaco ao passar o mouse por cima do texto */

}

.back-link { /* Icones sempre em svg */
    margin-right: 8px;
}

.back-link {
    opacity: 0.8;
}